<div class="col-6  align-items-center justify-content-right " >
<div class="form-floating mb-5 ">
  <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}"  placeholder="First Name" name="firstName">
  <label for="floatingInput">FIRST NAME</label>
</div>
</div>
<div class="col-6 align-items-center justify-content-center">
<div class="form-floating mb-5">
  <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name" name="lastName">
  <label for="floatingInput">LAST NAME</label>
</div>
</div>
<div class="col-6 align-items-center justify-content-center">
<div class="form-floating mb-5">
  <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="Email@gmail.com" name="email">
  <label for="floatingInput">EMAIL</label>
</div>
</div>
<div class="col-6 align-items-center justify-content-center">
<div class="form-floating mb-5">
  <input type="text" class="form-control" id="floatingInput"value="{{this.phone}}" placeholder="Phone Number" name="phone">
  <label for="floatingInput">PHONE NUMBER</label>
</div>
</div>
<div class="col-14 d-grid  ">
    <button class="btn btn-primary" type="submit">SAVE</button>
</div>