<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i><strong> Home </strong></i></a></li>
    <li class="breadcrumb-item active" aria-current="page"><i><strong> EDIT USER </strong></i></li>
  </ol>
  </nav> 
   {{#if alert}}
<div class="col-8 alert alert-info alert-dismissible fade show " role="alert">
    {{alert}}
  <button type="button" class="btn-close float-right " data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if }}

  {{#each table}}
  <form action="/edituser/{{this.id}}" method="post" class=" row g-3 needs-validation table table-striped " novalidate>
   {{> user-form}}
  </form>
  {{/each}}